.virsus {
	justify-content: center;
}
.sidenav {
	background-color: #ccadad;
}
.brand-logo {
	color: black;
}

.paveikslas {
	width: 100%;
	position: absolute;
}

.tekstas {
	position: absolute;
}

.antraste {
	position: relative;
	margin-top: 0px;
}