.virsus {
	justify-content: center;
}
.sidenav {
	background-color: #ccadad;
}
img.brand-logo{
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 60px;
}
img.image{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}
span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}
