.virsus {
	justify-content: center;
}
.sidenav {
	background-color: #ccadad;
}

.brand-logo {
	color: black;
}

.skaidre {
	width: 100%;
	position: relative;
	
}


.paveikslas {
	text-align: center;
	width: 100%
	
}

.tekstas {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	color: white;
	
	}

.skaidre2 {
	position: relative;
}

.tekstas2 {
	font-family: Times New Roman;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	text-align: justify;
	width: 100%;
	color: white;
	text-indent: 30px;

}	

h2 {
	text-align: center;
	margin: 0;

}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4b41df;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  border-color: pink;
  border-radius: 5px;
  background-color: #ffffffb3;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



img.brand-logo{
	border-radius: 50%;  
	position: absolute;
	top: 8px;
	right: 60px;
}
img.image{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}
span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}
	.carousel{
		height: 600px !important;
	}

